*{
	font-family: Century Gothic;
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
}

.header{
	height: 15%;
}

.header img{
	height: 120px;
	width: 175px;
}

.header ul{
	float: right;
	list-style-type: none;
	margin-top: 35px;
}

.header ul li{
	display: inline;
	margin-right: 50px;
}

.header ul li a{
	color: rgb(212,172,13);
	text-decoration: none;
}

.header ul li a:hover{
	color: white;
}

.cont h2{
	color: rgb(212,172,13);
	text-decoration: none;
	font-family: courier;
	margin-top: 50px;
	margin-left: 10px;
}

.cont p{
	color: grey;
	margin-left: 10px;
	margin-top: 2px;
}

#subh{
	color: rgb(212,172,13);
	text-decoration: none;
	font-family: courier;
	margin-top: 20px;
	margin-left: 10px;
}

.cont img{
	height: 45%;
	width: 40%;
	float: right;
	position: relative;
	top: -250px;
	border-radius: 10px;
}